{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/papernote/header.png",
      "fileBody" : "/interface/scripted/papernote/body.png",
      "fileFooter" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [185, 241]
    },

    "lblNoteText" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [17, 230],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "#4c4b3e",
      "value" : "",
      "wrapWidth" : 170
    }
  },

  "scripts" : ["/interface/scripted/papernote/papernotegui.lua"],
  "scriptDelta" : 0
}
