{
  "joinMessage" : "Discord user ^green;<username>^reset; wishes to join your game.\n\nDo you want to accept?",
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/confirmation/header.png",
      "fileBody" : "/interface/confirmation/body.png",
      "fileFooter" : "/interface/confirmation/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/confirmation/shine.png",
      "position" : [0, 20],
      "zlevel" : -1
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Join Request",
      "subtitle" : "Discord join request received",
      "size" : 12,
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/confirmation/confirmationicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "yes" : {
      "type" : "button",
      "base" : "/interface/popup/acceptup.png",
      "hover" : "/interface/popup/acceptover.png",
      "position" : [35, 38],
      "caption" : "Yes"
    },
    "no" : {
      "type" : "button",
      "base" : "/interface/popup/declineup.png",
      "hover" : "/interface/popup/declineover.png",
      "position" : [95, 38],
      "caption" : "No"
    },
    "ignore" : {
      "type" : "button",
      "base" : "/interface/popup/declineup.png",
      "hover" : "/interface/popup/declineover.png",
      "position" : [155, 38],
      "caption" : "Ignore"
    },
    "message" : {
      "type" : "label",
      "position" : [115, 122],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 225,
      "lineSpacing" : 1.0,
      "value" : "",
      "color" : "white"
    }
  }
}
